:root {
  --background: #f0ebe1;
  --dark: #262522;
  --primary1: #9fdc26;
  --primary2: #f29c33;
  --primary3: #ee6352;
  --primary4: #c4e5fc;
  --light: #fffbf2;
}

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-mini: 379px;

@mixin mini {
  @media all and (width < #{$breakpoint-mini}) {
    @content;
  }
}

@mixin mobile {
  @media all and (width < #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media all and (#{$breakpoint-mobile} <= width < #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin desktop {
  @media all and (#{$breakpoint-desktop} <= width) {
    @content;
  }
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--dark);
}

p {
  margin-bottom: 0;
}

header {
  z-index: 999999;
  li{
    list-style: none;
  }
}

#menu-mobile-button {
  .bar {
    transition:
      transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s ease;
    transform-origin: 12px 12px;
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 9998;
  max-width: 1312px;
  margin-inline: auto;
  background-color: var(--dark);
  border-radius: 0 0 32px 32px;
  height: auto;
  top: calc(100% - 1rem);
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms ease;
  .mobile-menu-body {
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
    gap: 40px;
    width: 100%;
    li {
      padding-inline: 8px;
      padding-block: 16px;
      border-bottom: 1px solid rgba($color: #fffbf2, $alpha: 0.16);
    }
    a {
      color: var(--background);
      &.active,
      &:hover {
        color: var(--primary3);
      }
    }
    .btn-mobile {
      color: var(--background);
      border: none;
      background-color: rgba($color: #fffbf2, $alpha: 0.16);
      border-radius: 16px;
      padding: 8px;
      &.sub {
        padding-inline: 24px;
        padding-block: 10px;
        border-radius: 24px;
      }
    }
  }
}

.mobile-open {
  .desktop-menu {
    background-color: var(--dark);
    color: var(--background);
    border-radius: 32px 32px 0 0;
    button {
      color: var(--background);
    }
  }
  .mobile-menu {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  #menu-mobile-button {
    background-color: rgba($color: #fffbf2, $alpha: 0.16);
    stroke: var(--primary2);
  }
}

.desktop-menu {
  z-index: 9999;
  position: relative;
  max-width: 1312px;
  color: var(--dark);
  background-color: var(--background);
  border: 1px solid rgba($color: #262522, $alpha: 0.24);
  border-radius: 32px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  li {
    a {
      padding: 8px;
      opacity: 40%;
      display: inline-block;
      position: relative;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &.active,
      &:hover {
        opacity: 100%;
        &::after {
          content: "";
          position: absolute;
          left: 8px;
          right: 8px;
          bottom: 0;
          height: 4px;
          background-color: var(--primary3);
        }
      }
    }
  }

  .btn-light {
    border: none;
    background-color: rgba($color: #262522, $alpha: 0.08);
    border-radius: 16px;
    padding: 8px;
    stroke: var(--dark);
  }

  .btn-sub {
    background-color: var(--dark);
    padding-block: 12px;
    padding-inline: 24px;
    color: var(--background);
    border-radius: 24px;
    border: none;
  }
}

section {
  max-width: 1312px;
  padding-block: 8px;
}

button {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateY(1px);
  }
}

ul {
  padding: 0;
  margin: 0;
}

footer {
  .footer-content {
    max-width: 1312px;
    background-color: var(--dark);
    padding-inline: 40px;
    padding-bottom: 24px;
    border-radius: 32px;

    @include mobile {
      padding-inline: 24px;
      padding-bottom: 24px;
    }

    .logo-text {
      font-size: 14px;
      line-height: 103%;
      color: var(--background);
    }
    .media {
      img {
        cursor: pointer;
      }
    }
    .footer-upper {
      border-bottom: 1px solid rgba($color: #f0ebe1, $alpha: 0.08);

      @include mobile {
        gap: 24px;
      }
    }
    .copy {
      color: rgba($color: #f0ebe1, $alpha: 0.6);
      font-size: 12px;
    }
    nav {
      @include mobile {
        width: 100%;
      }
      ul {
        li {
          @include mobile {
            padding-bottom: 12px;
            border-bottom: 1px solid rgba($color: #f0ebe1, $alpha: 0.24);
            &:last-child {
              border-bottom: none;
            }
          }

          a {
            color: var(--background);
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            &:hover {
              color: var(--primary3);
            }
          }
        }
      }
    }
  }
}

.cta {
  .cta-content {
    background-color: var(--primary3);
    border-radius: 24px;
    color: var(--background);
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 772px;
      background-color: #ff6653;
      border-radius: 50%;
      left: -10px;
      z-index: -1;
      @include mobile {
        height: 389px;
      }
    }

    &::before {
      top: -612px;
      @include mobile {
        top: -212px;
      }
    }

    &::after {
      bottom: -612px;
      @include mobile {
        bottom: -212px;
      }
    }

    @include mobile {
      padding-inline: 1rem;
      padding-block: 64px;
    }

    .cta-input {
      border-radius: 24px;
      background-color: var(--light);
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        padding: 0;
        gap: 8px;
        background-color: transparent;
        width: 100%;
      }

      input {
        flex-grow: 1;
        border: none;
        background: transparent;
        padding-inline: 24px;
        line-height: 24px;
        &::placeholder {
          color: rgba($color: #262522, $alpha: 0.4);
        }
        &:focus {
          outline: none;
        }

        @include mobile {
          width: 100%;
          padding-block: 12px;
          padding-inline: 24px;
          background-color: var(--background);
          border-radius: 24px;
        }
      }
      button {
        border: none;
        border-radius: 24px;
        color: var(--background);
        background-color: var(--dark);
        padding-inline: 24px;
        padding-block: 12px;
        font-size: 14px;

        @include mobile {
          width: 100%;
          padding-block: 12px;
          padding-inline: 24px;
        }
      }
    }
  }
}

.hero {
  background: url(../img/Hero_Section.png) no-repeat;
  background-position: cover;
  border-radius: 32px;
  color: var(--background);
  .hero-content {
    padding-block: 120px;

    @include mobile {
      padding-inline: 16px;
    }

    h1 {
      font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
    }
    button {
      background-color: var(--primary2);
      border-radius: 24px;
      padding-inline: 24px;
      padding-block: 12px;
      color: var(--dark);
      font-size: 14px;
      border: none;
      outline: none;
    }
  }
}

.hero-alt {
  .alt-content {
    padding-block: 64px;

    @include mobile {
      padding-inline: 16px;
    }

    h1 {
      font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
      letter-spacing: -1%;
      font-weight: 800;
      line-height: 100%;
    }
    p {
      font-size: clamp(1rem, 0.7917rem + 0.434vw, 1.3125rem);
      color: rgba($color: #262522, $alpha: 0.6);
    }

    a {
      font-size: 14px;
      border-radius: 24px;
      padding-inline: 24px;
      padding-block: 12px;
      background-color: var(--primary2);
      color: var(--dark);
      width: fit-content;
      &:hover {
        opacity: 80%;
      }
      &:active {
        transform: translateY(1px);
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-self: flex-end;
    }
  }
}

.explore {
  .explore-content {
    background-color: var(--primary4);
    color: var(--dark);
    border-radius: 32px;
    padding: 40px;

    @include mobile {
      padding-inline: 24px;
    }
    & > div {
      align-items: stretch;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 16px;
      border-bottom: 1px solid rgba($color: #262522, $alpha: 0.16);
      p {
        margin: 0;
        font-size: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
        letter-spacing: 2%;
        font-weight: 600;
      }
    }
    .text-wrapper {
      max-width: 494px;
      gap: 40px;
      span {
        background-color: var(--primary3);
        color: var(--background);
        padding-inline: 8px;
        padding-block: 4px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 12px;
        width: fit-content;
      }
      h2 {
        font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
      }
      p {
        font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
      }
      button {
        border: 1px solid var(--dark);
        border-radius: 24px;
        background-color: transparent;
        outline: none;
        padding-inline: 24px;
        padding-block: 12px;
        width: fit-content;

        &:hover {
          background-color: var(--dark);
          color: var(--primary4);
        }
      }
    }
  }
}

.featured {
  .featured-content {
    padding-inline: 16px;
    padding-top: 40px;
    padding-bottom: 16px;
    border: 1px solid rgba($color: #262522, $alpha: 0.24);
    border-radius: 32px;
    gap: 40px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      h2 {
        color: var(--dark);
        font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
      }
    }
  }
}

.featured,
.cards,
.nourishing {
  .controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    button {
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
    }
  }

  .card {
    background-color: var(--light);
    border-radius: 32px;
    border: 1px solid rgba($color: #262522, $alpha: 0.16);
    .vegan {
      top: clamp(45%, 0.7917rem + 0.1736vw, 40%);
      right: 16px;
      @include tablet {
        top: clamp(45%, 0.7917rem + 0.1736vw, 55%);
      }
      @include mobile {
        top: clamp(25%, 0.7917rem + 0.1736vw, 90%);
      }
    }

    h3 {
      font-size: clamp(1.3125rem, 1.1875rem + 0.2604vw, 1.5rem);
      line-height: 120%;
      letter-spacing: -1%;
    }
    p {
      color: var(--dark);
      font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
    }
    span {
      font-size: 12px;
      color: var(--dark);
    }
    a {
      border: 1px solid var(--dark);
      border-radius: 24px;
      background-color: transparent;
      outline: none;
      padding-inline: 24px;
      padding-block: 12px;
      font-size: 14px;
      &:hover {
        background-color: var(--dark);
        color: var(--light);
      }

      @include mobile {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.cards {
  .cards-content {
    .header {
      padding-bottom: 40px;

      &.ct {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      h2 {
        color: var(--dark);
        font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
      }
      span {
        background-color: var(--primary3);
        color: var(--background);
        padding-inline: 8px;
        padding-block: 4px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 12px;
        width: fit-content;
      }
      p {
        font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
      }
      .pills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        .pill {
          border-radius: 24px;
          padding-inline: 24px;
          padding-block: 12px;
          border: 1px solid rgba($color: #262522, $alpha: 0.4);
          cursor: pointer;
          &:hover {
            border-color: var(--dark);
          }
          &.active {
            border-color: var(--dark);
            background-color: var(--primary1);
          }
        }
      }
    }
  }
}

.aboutus {
  .aboutus-content {
    border: 1px solid rgba($color: #262522, $alpha: 0.24);
    border-radius: 32px;
    padding: 14px;
    img {
      border-radius: 24px;
    }
    h2 {
      color: var(--dark);
      font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
    }
    span {
      background-color: var(--primary3);
      color: var(--background);
      padding-inline: 8px;
      padding-block: 4px;
      line-height: 16px;
      font-size: 14px;
      border-radius: 12px;
      width: fit-content;
    }
    p {
      font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
    }
    a {
      border: 1px solid var(--dark);
      border-radius: 24px;
      background-color: transparent;
      outline: none;
      padding-inline: 24px;
      padding-block: 12px;
      width: fit-content;

      &:hover {
        background-color: var(--dark);
        color: var(--primary4);
      }
    }
  }
}

.nourishing {
  .nourishing-content {
    background-color: var(--primary4);
    padding-inline: 40px;
    padding-bottom: 40px;
    padding-top: 64px;
    border-radius: 32px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      h2 {
        color: var(--dark);
        font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
      }
    }

    .card {
      h3,
      p,
      span {
        color: var(--background);
      }
    }
  }
}

.about {
  .about-content {
    border: 1px solid rgba($color: #262522, $alpha: 0.24);
    border-radius: 32px;
    padding: 16px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    .follow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 24px;
      padding-block: 12px;
      border: 1px solid var(--dark);
      border-radius: 24px;
      img {
        cursor: pointer;
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-inline: 24px;
      padding-top: 16px;
      h2 {
        font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
        color: var(--dark);
        letter-spacing: 1%;
        font-weight: 700;
      }
      p {
        font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
        color: rgba($color: #333333, $alpha: 0.8);
        line-height: 140%;
        letter-spacing: 1%;
      }
      img {
        width: min-content;
      }
    }
  }
}

.recipe {
  .recipe-content {
    border: 1px solid rgba($color: #262522, $alpha: 0.24);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    padding-block: 64px;
    gap: 40px;

    @include mobile {
      padding-inline: 16px;
      padding-bottom: 40px;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 40px;
      img {
        border-radius: 24px;
        object-fit: cover;
        min-height: 480px;
      }
      h1 {
        color: var(--dark);
        font-weight: 800;
        font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
      }
      .tag {
        background-color: var(--primary3);
        color: var(--background);
        padding-inline: 8px;
        padding-block: 4px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 12px;
        width: fit-content;
      }
      .message {
        color: rgba($color: #262522, $alpha: 0.6);
        font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
        max-width: 648px;
      }

      .items{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          color: var(--dark);
          --gap: 24px;

            @include mini {
              --gap: 12px
            }

          p{
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2%;
            line-height: 100%;
            text-transform: uppercase;
          }
          &:first-child{
            padding-right: var(--gap);
          }
          &:nth-child(2){
            padding-right: var(--gap);
          }

          &:not(:first-child){
            &::before{
              content: '';
              background-color: var(--dark);
              border-radius: 100%;
              height: 4px;
              width: 4px;
              margin-right: var(--gap);
            }
          }
        }
      }

    }

    .recipe-info{

      gap: 40px;

      p, strong{
        font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
        line-height: 140%;
        letter-spacing: 1%;
        color: rgba($color: #333333, $alpha: 0.8);
      }
      strong{
        color: var(--dark);
      }
      h2{
        font-size: clamp(1.3125rem, 1.1875rem + 0.2604vw, 1.5rem);
        letter-spacing: -1%;
        line-height: 120%;
        font-weight: 700;
        color: var(--dark);
      }
      h3{
        font-size: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
        letter-spacing: 2%;
        font-weight: 600;
        color: var(--primary3);
        text-transform: uppercase;
      }
      span{
        color: var(--primary3);
        text-decoration: underline;
      }
      .follow{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
        padding-inline: 24px;
        padding-block: 12px;
        border-radius: 24px;
        border: 1px solid var(--dark);
        width: min-content;
        p{
          font-size: 12px;
          line-height: 120%;
          font-weight: 500;
          letter-spacing: 1%;
          color: var(--dark);
        }
        & > div {
          gap: 12px;
        }
        img{
          cursor: pointer;
        }
      }
      .author{

        img{
          max-height: 120px;
          max-width: 120px;
        }

        & > div {
          gap: 12px;
        }
        a{
          padding-inline: 24px;
          padding-block: 12px;
          border-radius: 24px;
          border: 1px solid var(--dark);
          font-size: 14px;
          font-weight: 500;
          width: fit-content;
        }
      }
      .info{
        padding-inline: 16px;
        padding-bottom: 16px;
        padding-top: 40px;

        & > div {
          width: auto;
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding-inline: 16px;
          padding-block: 24px;
          border-radius: 24px;
          background-color: var(--light);
          border: 1px solid rgba($color: #262522, $alpha: 0.24);
          ul{
            padding-left: 16px;
            p{
              font-size: clamp(1rem, 0.7917rem + 0.434vw, 1.3125rem);
              color: var(--dark);
            }
          }
        }
      }
    }

  }
}
