:root {
  --background: #f0ebe1;
  --dark: #262522;
  --primary1: #9fdc26;
  --primary2: #f29c33;
  --primary3: #ee6352;
  --primary4: #c4e5fc;
  --light: #fffbf2;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--dark);
}

p {
  margin-bottom: 0;
}

header {
  z-index: 999999;
}
header li {
  list-style: none;
}

#menu-mobile-button .bar {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  transform-origin: 12px 12px;
}

.mobile-menu {
  display: block;
  position: absolute;
  left: 1rem;
  right: 1rem;
  z-index: 9998;
  max-width: 1312px;
  margin-inline: auto;
  background-color: var(--dark);
  border-radius: 0 0 32px 32px;
  height: auto;
  top: calc(100% - 1rem);
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms ease;
}
.mobile-menu .mobile-menu-body {
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 1rem;
  gap: 40px;
  width: 100%;
}
.mobile-menu .mobile-menu-body li {
  padding-inline: 8px;
  padding-block: 16px;
  border-bottom: 1px solid rgba(255, 251, 242, 0.16);
}
.mobile-menu .mobile-menu-body a {
  color: var(--background);
}
.mobile-menu .mobile-menu-body a.active, .mobile-menu .mobile-menu-body a:hover {
  color: var(--primary3);
}
.mobile-menu .mobile-menu-body .btn-mobile {
  color: var(--background);
  border: none;
  background-color: rgba(255, 251, 242, 0.16);
  border-radius: 16px;
  padding: 8px;
}
.mobile-menu .mobile-menu-body .btn-mobile.sub {
  padding-inline: 24px;
  padding-block: 10px;
  border-radius: 24px;
}

.mobile-open .desktop-menu {
  background-color: var(--dark);
  color: var(--background);
  border-radius: 32px 32px 0 0;
}
.mobile-open .desktop-menu button {
  color: var(--background);
}
.mobile-open .mobile-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.mobile-open #menu-mobile-button {
  background-color: rgba(255, 251, 242, 0.16);
  stroke: var(--primary2);
}

.desktop-menu {
  z-index: 9999;
  position: relative;
  max-width: 1312px;
  color: var(--dark);
  background-color: var(--background);
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.desktop-menu li a {
  padding: 8px;
  opacity: 40%;
  display: inline-block;
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.desktop-menu li a.active, .desktop-menu li a:hover {
  opacity: 100%;
}
.desktop-menu li a.active::after, .desktop-menu li a:hover::after {
  content: "";
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  height: 4px;
  background-color: var(--primary3);
}
.desktop-menu .btn-light {
  border: none;
  background-color: rgba(38, 37, 34, 0.08);
  border-radius: 16px;
  padding: 8px;
  stroke: var(--dark);
}
.desktop-menu .btn-sub {
  background-color: var(--dark);
  padding-block: 12px;
  padding-inline: 24px;
  color: var(--background);
  border-radius: 24px;
  border: none;
}

section {
  max-width: 1312px;
  padding-block: 8px;
}

button {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
button:hover {
  opacity: 0.9;
}
button:active {
  transform: translateY(1px);
}

ul {
  padding: 0;
  margin: 0;
}

footer .footer-content {
  max-width: 1312px;
  background-color: var(--dark);
  padding-inline: 40px;
  padding-bottom: 24px;
  border-radius: 32px;
}
@media all and (width < 768px) {
  footer .footer-content {
    padding-inline: 24px;
    padding-bottom: 24px;
  }
}
footer .footer-content .logo-text {
  font-size: 14px;
  line-height: 103%;
  color: var(--background);
}
footer .footer-content .media img {
  cursor: pointer;
}
footer .footer-content .footer-upper {
  border-bottom: 1px solid rgba(240, 235, 225, 0.08);
}
@media all and (width < 768px) {
  footer .footer-content .footer-upper {
    gap: 24px;
  }
}
footer .footer-content .copy {
  color: rgba(240, 235, 225, 0.6);
  font-size: 12px;
}
@media all and (width < 768px) {
  footer .footer-content nav {
    width: 100%;
  }
}
@media all and (width < 768px) {
  footer .footer-content nav ul li {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(240, 235, 225, 0.24);
  }
  footer .footer-content nav ul li:last-child {
    border-bottom: none;
  }
}
footer .footer-content nav ul li a {
  color: var(--background);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
footer .footer-content nav ul li a:hover {
  color: var(--primary3);
}

.cta .cta-content {
  background-color: var(--primary3);
  border-radius: 24px;
  color: var(--background);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.cta .cta-content::after, .cta .cta-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 772px;
  background-color: #ff6653;
  border-radius: 50%;
  left: -10px;
  z-index: -1;
}
@media all and (width < 768px) {
  .cta .cta-content::after, .cta .cta-content::before {
    height: 389px;
  }
}
.cta .cta-content::before {
  top: -612px;
}
@media all and (width < 768px) {
  .cta .cta-content::before {
    top: -212px;
  }
}
.cta .cta-content::after {
  bottom: -612px;
}
@media all and (width < 768px) {
  .cta .cta-content::after {
    bottom: -212px;
  }
}
@media all and (width < 768px) {
  .cta .cta-content {
    padding-inline: 1rem;
    padding-block: 64px;
  }
}
.cta .cta-content .cta-input {
  border-radius: 24px;
  background-color: var(--light);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media all and (width < 768px) {
  .cta .cta-content .cta-input {
    flex-direction: column;
    padding: 0;
    gap: 8px;
    background-color: transparent;
    width: 100%;
  }
}
.cta .cta-content .cta-input input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding-inline: 24px;
  line-height: 24px;
}
.cta .cta-content .cta-input input::-moz-placeholder {
  color: rgba(38, 37, 34, 0.4);
}
.cta .cta-content .cta-input input::placeholder {
  color: rgba(38, 37, 34, 0.4);
}
.cta .cta-content .cta-input input:focus {
  outline: none;
}
@media all and (width < 768px) {
  .cta .cta-content .cta-input input {
    width: 100%;
    padding-block: 12px;
    padding-inline: 24px;
    background-color: var(--background);
    border-radius: 24px;
  }
}
.cta .cta-content .cta-input button {
  border: none;
  border-radius: 24px;
  color: var(--background);
  background-color: var(--dark);
  padding-inline: 24px;
  padding-block: 12px;
  font-size: 14px;
}
@media all and (width < 768px) {
  .cta .cta-content .cta-input button {
    width: 100%;
    padding-block: 12px;
    padding-inline: 24px;
  }
}

.hero {
  background: url(../img/Hero_Section.png) no-repeat;
  background-position: cover;
  border-radius: 32px;
  color: var(--background);
}
.hero .hero-content {
  padding-block: 120px;
}
@media all and (width < 768px) {
  .hero .hero-content {
    padding-inline: 16px;
  }
}
.hero .hero-content h1 {
  font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
}
.hero .hero-content button {
  background-color: var(--primary2);
  border-radius: 24px;
  padding-inline: 24px;
  padding-block: 12px;
  color: var(--dark);
  font-size: 14px;
  border: none;
  outline: none;
}

.hero-alt .alt-content {
  padding-block: 64px;
}
@media all and (width < 768px) {
  .hero-alt .alt-content {
    padding-inline: 16px;
  }
}
.hero-alt .alt-content h1 {
  font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
  letter-spacing: -1%;
  font-weight: 800;
  line-height: 100%;
}
.hero-alt .alt-content p {
  font-size: clamp(1rem, 0.7917rem + 0.434vw, 1.3125rem);
  color: rgba(38, 37, 34, 0.6);
}
.hero-alt .alt-content a {
  font-size: 14px;
  border-radius: 24px;
  padding-inline: 24px;
  padding-block: 12px;
  background-color: var(--primary2);
  color: var(--dark);
  width: -moz-fit-content;
  width: fit-content;
}
.hero-alt .alt-content a:hover {
  opacity: 80%;
}
.hero-alt .alt-content a:active {
  transform: translateY(1px);
}
.hero-alt .alt-content .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: flex-end;
}

.explore .explore-content {
  background-color: var(--primary4);
  color: var(--dark);
  border-radius: 32px;
  padding: 40px;
}
@media all and (width < 768px) {
  .explore .explore-content {
    padding-inline: 24px;
  }
}
.explore .explore-content > div {
  align-items: stretch;
}
.explore .explore-content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
  border-bottom: 1px solid rgba(38, 37, 34, 0.16);
}
.explore .explore-content li p {
  margin: 0;
  font-size: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  letter-spacing: 2%;
  font-weight: 600;
}
.explore .explore-content .text-wrapper {
  max-width: 494px;
  gap: 40px;
}
.explore .explore-content .text-wrapper span {
  background-color: var(--primary3);
  color: var(--background);
  padding-inline: 8px;
  padding-block: 4px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.explore .explore-content .text-wrapper h2 {
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
}
.explore .explore-content .text-wrapper p {
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}
.explore .explore-content .text-wrapper button {
  border: 1px solid var(--dark);
  border-radius: 24px;
  background-color: transparent;
  outline: none;
  padding-inline: 24px;
  padding-block: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.explore .explore-content .text-wrapper button:hover {
  background-color: var(--dark);
  color: var(--primary4);
}

.featured .featured-content {
  padding-inline: 16px;
  padding-top: 40px;
  padding-bottom: 16px;
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;
  gap: 40px;
}
.featured .featured-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featured .featured-content .header h2 {
  color: var(--dark);
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
}

.featured .controlls,
.cards .controlls,
.nourishing .controlls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.featured .controlls button,
.cards .controlls button,
.nourishing .controlls button {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}
.featured .card,
.cards .card,
.nourishing .card {
  background-color: var(--light);
  border-radius: 32px;
  border: 1px solid rgba(38, 37, 34, 0.16);
}
.featured .card .vegan,
.cards .card .vegan,
.nourishing .card .vegan {
  top: clamp(45%, 0.7917rem + 0.1736vw, 40%);
  right: 16px;
}
@media all and (768px <= width < 1024px) {
  .featured .card .vegan,
  .cards .card .vegan,
  .nourishing .card .vegan {
    top: clamp(45%, 0.7917rem + 0.1736vw, 55%);
  }
}
@media all and (width < 768px) {
  .featured .card .vegan,
  .cards .card .vegan,
  .nourishing .card .vegan {
    top: clamp(25%, 0.7917rem + 0.1736vw, 90%);
  }
}
.featured .card h3,
.cards .card h3,
.nourishing .card h3 {
  font-size: clamp(1.3125rem, 1.1875rem + 0.2604vw, 1.5rem);
  line-height: 120%;
  letter-spacing: -1%;
}
.featured .card p,
.cards .card p,
.nourishing .card p {
  color: var(--dark);
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}
.featured .card span,
.cards .card span,
.nourishing .card span {
  font-size: 12px;
  color: var(--dark);
}
.featured .card a,
.cards .card a,
.nourishing .card a {
  border: 1px solid var(--dark);
  border-radius: 24px;
  background-color: transparent;
  outline: none;
  padding-inline: 24px;
  padding-block: 12px;
  font-size: 14px;
}
.featured .card a:hover,
.cards .card a:hover,
.nourishing .card a:hover {
  background-color: var(--dark);
  color: var(--light);
}
@media all and (width < 768px) {
  .featured .card a,
  .cards .card a,
  .nourishing .card a {
    width: 100%;
    text-align: center;
  }
}

.cards .cards-content .header {
  padding-bottom: 40px;
}
.cards .cards-content .header.ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .cards-content .header h2 {
  color: var(--dark);
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
}
.cards .cards-content .header span {
  background-color: var(--primary3);
  color: var(--background);
  padding-inline: 8px;
  padding-block: 4px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.cards .cards-content .header p {
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}
.cards .cards-content .header .pills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.cards .cards-content .header .pills .pill {
  border-radius: 24px;
  padding-inline: 24px;
  padding-block: 12px;
  border: 1px solid rgba(38, 37, 34, 0.4);
  cursor: pointer;
}
.cards .cards-content .header .pills .pill:hover {
  border-color: var(--dark);
}
.cards .cards-content .header .pills .pill.active {
  border-color: var(--dark);
  background-color: var(--primary1);
}

.aboutus .aboutus-content {
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;
  padding: 14px;
}
.aboutus .aboutus-content img {
  border-radius: 24px;
}
.aboutus .aboutus-content h2 {
  color: var(--dark);
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
}
.aboutus .aboutus-content span {
  background-color: var(--primary3);
  color: var(--background);
  padding-inline: 8px;
  padding-block: 4px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.aboutus .aboutus-content p {
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}
.aboutus .aboutus-content a {
  border: 1px solid var(--dark);
  border-radius: 24px;
  background-color: transparent;
  outline: none;
  padding-inline: 24px;
  padding-block: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.aboutus .aboutus-content a:hover {
  background-color: var(--dark);
  color: var(--primary4);
}

.nourishing .nourishing-content {
  background-color: var(--primary4);
  padding-inline: 40px;
  padding-bottom: 40px;
  padding-top: 64px;
  border-radius: 32px;
}
.nourishing .nourishing-content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nourishing .nourishing-content .header h2 {
  color: var(--dark);
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
}
.nourishing .nourishing-content .card h3,
.nourishing .nourishing-content .card p,
.nourishing .nourishing-content .card span {
  color: var(--background);
}

.about .about-content {
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;
  padding: 16px;
  gap: 64px;
  display: flex;
  flex-direction: column;
}
.about .about-content .follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  padding-block: 12px;
  border: 1px solid var(--dark);
  border-radius: 24px;
}
.about .about-content .follow img {
  cursor: pointer;
}
.about .about-content .message {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 24px;
  padding-top: 16px;
}
.about .about-content .message h2 {
  font-size: clamp(1.625rem, 1.0417rem + 1.2153vw, 2.5rem);
  color: var(--dark);
  letter-spacing: 1%;
  font-weight: 700;
}
.about .about-content .message p {
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
  color: rgba(51, 51, 51, 0.8);
  line-height: 140%;
  letter-spacing: 1%;
}
.about .about-content .message img {
  width: -moz-min-content;
  width: min-content;
}

.recipe .recipe-content {
  border: 1px solid rgba(38, 37, 34, 0.24);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
  padding-block: 64px;
  gap: 40px;
}
@media all and (width < 768px) {
  .recipe .recipe-content {
    padding-inline: 16px;
    padding-bottom: 40px;
  }
}
.recipe .recipe-content .header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.recipe .recipe-content .header img {
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 480px;
}
.recipe .recipe-content .header h1 {
  color: var(--dark);
  font-weight: 800;
  font-size: clamp(2.375rem, 0.625rem + 3.6458vw, 5rem);
}
.recipe .recipe-content .header .tag {
  background-color: var(--primary3);
  color: var(--background);
  padding-inline: 8px;
  padding-block: 4px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.recipe .recipe-content .header .message {
  color: rgba(38, 37, 34, 0.6);
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
  max-width: 648px;
}
.recipe .recipe-content .header .items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.recipe .recipe-content .header .items > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--dark);
  --gap: 24px;
}
@media all and (width < 379px) {
  .recipe .recipe-content .header .items > div {
    --gap: 12px ;
  }
}
.recipe .recipe-content .header .items > div p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2%;
  line-height: 100%;
  text-transform: uppercase;
}
.recipe .recipe-content .header .items > div:first-child {
  padding-right: var(--gap);
}
.recipe .recipe-content .header .items > div:nth-child(2) {
  padding-right: var(--gap);
}
.recipe .recipe-content .header .items > div:not(:first-child)::before {
  content: "";
  background-color: var(--dark);
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: var(--gap);
}
.recipe .recipe-content .recipe-info {
  gap: 40px;
}
.recipe .recipe-content .recipe-info p, .recipe .recipe-content .recipe-info strong {
  font-size: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
  line-height: 140%;
  letter-spacing: 1%;
  color: rgba(51, 51, 51, 0.8);
}
.recipe .recipe-content .recipe-info strong {
  color: var(--dark);
}
.recipe .recipe-content .recipe-info h2 {
  font-size: clamp(1.3125rem, 1.1875rem + 0.2604vw, 1.5rem);
  letter-spacing: -1%;
  line-height: 120%;
  font-weight: 700;
  color: var(--dark);
}
.recipe .recipe-content .recipe-info h3 {
  font-size: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
  letter-spacing: 2%;
  font-weight: 600;
  color: var(--primary3);
  text-transform: uppercase;
}
.recipe .recipe-content .recipe-info span {
  color: var(--primary3);
  text-decoration: underline;
}
.recipe .recipe-content .recipe-info .follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: 24px;
  border: 1px solid var(--dark);
  width: -moz-min-content;
  width: min-content;
}
.recipe .recipe-content .recipe-info .follow p {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: 1%;
  color: var(--dark);
}
.recipe .recipe-content .recipe-info .follow > div {
  gap: 12px;
}
.recipe .recipe-content .recipe-info .follow img {
  cursor: pointer;
}
.recipe .recipe-content .recipe-info .author img {
  max-height: 120px;
  max-width: 120px;
}
.recipe .recipe-content .recipe-info .author > div {
  gap: 12px;
}
.recipe .recipe-content .recipe-info .author a {
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: 24px;
  border: 1px solid var(--dark);
  font-size: 14px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
}
.recipe .recipe-content .recipe-info .info {
  padding-inline: 16px;
  padding-bottom: 16px;
  padding-top: 40px;
}
.recipe .recipe-content .recipe-info .info > div {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;
  padding-block: 24px;
  border-radius: 24px;
  background-color: var(--light);
  border: 1px solid rgba(38, 37, 34, 0.24);
}
.recipe .recipe-content .recipe-info .info > div ul {
  padding-left: 16px;
}
.recipe .recipe-content .recipe-info .info > div ul p {
  font-size: clamp(1rem, 0.7917rem + 0.434vw, 1.3125rem);
  color: var(--dark);
}/*# sourceMappingURL=style.css.map */